<ion-header>
  <ion-toolbar>
    <ion-title >Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item  *ngFor="let item of pedido; let i =index">
      <ion-label>
        {{item}}
      </ion-label>
        
     
    </ion-item>
    <p> Comentarios:{{comentario}}</p>
  </ion-list>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <!-- <ion-button type="submit" color="warning" expand="block" (click) ="cerrar()" >Oido Cocina</ion-button>-->
    <ion-button type="submit" color="danger" expand="block" (click) ="entregado()" >Entregado al cliente</ion-button>
  </ion-toolbar>
</ion-footer>
